.blog-background {
    @include background-image( url(../harper-assets/blog-image-1.jpg) );
}

.blog-main {
    margin-top: 80px;
}

.flex-wrapper {
    display: flex;
}



// Sidebar
.flex-wrapper .sidebar-container {
    margin-top: 0;
}

.recent-posts {
    margin-top: 10px;
}


//  Main Blog 

.blog-wrapper {
    background-color: white;
}

.flex-wrapper .sidebar-container {
    margin-top: 0;
}


.right-container {
    margin-top: 40px;
    flex: 1 0 60%;
}

.blog-post,
.single-post {
    padding: 25px;
}

.single-post {
    display: flex;
    margin: 20px 0;

    img {
        width: 100px;
        height: 100px;
    }
}

// Form
.blog-wrapper form {
    width: auto;
}