.blog-background {
    @include background-image( url(../harper-assets/blog-image-1.jpg) );
}

.blog-main {
    margin-top: 80px;
}

.flex-wrapper {
    display: flex;
}



// Sidebar
.flex-wrapper .sidebar-container {
    margin-top: 0;
}

.side-bar img {
    margin-bottom: 20px;
}

.recent-posts {
    margin-top: 10px;
}

span {
    margin-right: 10px;
}

//  Main Blog 
.right-container {
    margin-top: 40px;
    flex: 1 0 60%;
}
.blog-post,
.single-post:last-child {
    border-bottom: 5px solid $dark-blue;
}

.blog-post p {
    margin: 15px 0;
    line-height: 30px;
}

.blog-post,
.single-post {
    padding: 25px;
    background-color: white;
}

.single-post {
    display: flex;
    margin: 20px 0;

    .single-post-text {
        flex: 1 0 calc(80% - 20px);
        margin-left: 20px;
        &p:first-child {
            font-weight: bold;
        }
    }

    img {
        width: 100px;
        height: 100px;
    }
}

// Form
.blog-wrapper form {
    width: auto;
    height: auto;
}

// Media Queries

@media (max-width: 1050px) {

    .side-bar-container {
        display: flex;
    }
    
    .side-bar,
    .recent-posts {
        min-width: 100%;
    }

    .flex-wrapper,
    .side-bar-container {

        flex-direction: column;
        }


    .blog-wrapper form {
    max-width: 90%;
    margin: 20px auto;
    }


}






@media (max-width: 780px) {
    .recent-posts span{
    display: none
    }

    .side-bar-container .side-bar,
    .side-bar-container .recent-posts {
    min-width: 100%;
    }

    .sticky {
    text-align: center;
    top: 255px; 
    }
    
}


@media (max-width: 480px){
.single-post {
    flex-direction: column;

    .single-post-text {
        margin-left: 0;
    }
}

h4 {
    font-size: 2rem;
}


}