// Form Styling

form {
    display: flex;
    flex-direction: column;
    width: 60%;
}

input,
textarea {
    background-color: white;
    border: 1px solid white;
    border-radius: 1px;
    padding: 15px;
    margin: 10px 0;
}

::placeholder {
    color: black;
    font-size: 1.5rem;
}


.personal-info {
    display: flex;
    justify-content: space-between;
}


input {
    height: 70px;
    width: calc(50% - 10px);
    flex: 1 1 50%;

}

input:first-of-type{
    margin-right: 10px;
}

form button {
    min-width: 100%;
}

form button:hover {
    transform: scale(1);
    background-color: $text-color;
    color: $white;
    border: 1px solid $text-color;
}


// textarea will need to shrink to be responsive

// Media Queries
@media (max-width: 1050px){

    .personal-info {
        flex-direction: column;
        
        input {
            width: 100%;
        }
    }
}

// Tablets
@media (max-width: 780px) {

    nav li:nth-of-type(3) {
        order: -1;
    }

    .contact-main .wrapper {
    flex-direction: column;
    }

    form,
    .side-bar-container .side-bar,
    .recent-posts {
        min-width: 100%
    }

    .side-bar,
    .recent-posts {
        text-align: center
    }
    
    .icon-container {
    justify-content: center;
    }

    .icon-container i:hover {
    color: black;

    }
}