@import 'setup';
@import 'variables-mixins';
@import 'navigation';
@import 'form';
@import 'blog';
@import 'contact';

// Strip Club
a,
li,
ul,
p,
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}

ul,
li,
a {
    list-style: none;
    text-decoration: none;
}

// Settings
html {
    font-size: 62.5%;
}

img {
    display: block;
    width: 100%;
}

body{
    font-family: $body-font;
    font-size: 1.8rem;
    line-height: 32px;
    background-color: $white;
    color: $text-color;
    text-align: left;
}

// Main Page
.wrapper,
.photo-wrapper,
.main-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    width: 80%;
}


h1,
h2,
h3,
h4,
nav p,
nav a,
button a {
    font-family: $header-font;
}

h1 {
    @include font-settings(80);
    line-height: 92px;
}


.header-text h1 {
    @include font-settings(110);
}


h2,
nav p {
    @include font-settings(42);
}

h3,
.fas {
    @include font-settings(32);
}

h4{
    @include font-settings(24);
}

button {
    background-color: $accent-color;
    border: 1px solid $accent-color;
    border-radius: 1px;
    padding: 10px 30px;
    max-width: 300px;

    a {
        color: $text-color;
        @include font-settings (20);
        line-height: 32px;
    } 
}

button:hover {
    transform: scale(1.1);
}

.fab,
.fas {
    font-size: 2.5rem;
}

li .fa-bars {
    display: none;
}


// Harper Main Page
.header-center {
    display: flex;
    justify-content: center;

}

.header-pic {
    @include grow-shrink(calc(50% - 60px));
    margin-right: 60px;


    img {
        box-shadow: 15px 15px 0px 0px white;
        position: relative;
        top: 70px;
    }
}

.header-text {
    align-self: center;

    img {
        position: absolute;
        width: auto;
        top: 63%;
        right: 6%;
    }
}



// Who Is She
.main-wrapper {
    
    .who-is-she {
        padding: 60px 0;
        margin: 80px 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        width: 50%;
        position: relative;
        left: 52%;
        margin-left: 50px;

        p {
            margin: 30px 0;
        }
    }
}
// adjust margin and padding for responsivity



// Four Icons & Text
.four-square p{
    margin-left: 60px;
}

.mid-list {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0;

    li {
        width: 100%;
        flex: 1 0 calc(50% - 20px);
        margin: 50px 0;
    }
}

.icon-circle-container {
    align-items: center;

    .icon-circle {
        height: 50px;
        width: 50px;
        background-color: $light-blue;
        border-radius: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
        margin-right: 15px;
    }
    
}
// All credit to @iandonahue on jsfiddle.net for the code in order to center font-awesome icons inside circle: http://jsfiddle.net/iandonahue/M3jxT/1409


// Text & Pic Grid 
.photo-grid {
    display: flex;
    flex-wrap: wrap;
    // margin-bottom: 80px;
}

.four-grid,
.gallery {
    background-color: white;
}

.image-container,
.text-container {
    width: 100%;
    @include grow-shrink(50%);
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3,
    p {
        margin-bottom: 15px;
    }

}

.text-container:nth-of-type(2){
    padding-right: 0;
    padding-left: 50px;

        button {
            align-self: flex-start;
        }
}


.text-container:nth-of-type(3) {
    padding-right: 50px;
    padding-left: 0;

        button {
        align-self: flex-end; 
    }
}


.image-container:first-of-type img {
    box-shadow: 15px 15px 0px 0px $mid-blue, -150px 15px 0px 0px $mid-blue;
    position: relative;
    bottom: 10%;
}

.image-container:last-of-type img {
    box-shadow: 120px 15px 0 $light-blue;
    position: relative;
    top: 10%;
}


// Her Journey
.harpers-journey {
    padding: 90px 0;
}

.her-journey {
    display: flex;
    justify-content: space-between;
    padding: 70px 0;

    img {
        margin-right: 45px;
        box-shadow: 15px 15px 0px 0px $dark-blue;
    }

    .journey-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1 0 calc(70% - 45px);
        padding-left: 50px;

        h2,
        p {
            margin-bottom: 30px;
        }

        button {
            align-self: flex-start;
        }
    }
}


// 3 Pic Grid
.bottom-three {
    display: flex;
    justify-content: space-around;
}

.gallery {
    padding: 60px 0;
}

.three-pic {
    margin: 30px 10px;
    width: calc(33% - 30px);  
    @include grow-shrink(33%);
}


// Footer
.bottom {
    background-color: $text-color;
    color: $white;
    text-align: center;
}


// Media Queries
@media (max-width: 1050px) {

// Header

    .header-text h1{
        font-size: 9rem;
    }

    .header-text img {
        top: 53%;
        right: 5%;
        width: 15%;
    }
    // I'm waving the white flag here, according to wakatime it's been over 12 hours, not my best work, I'm sorry.

// Who Is She (a mess)
    .main-wrapper .who-is-she {
        margin-left: 0;
    }

// Pic & Image Grid
    .four-grid {
        padding: 50px;
    }

    .image-container:first-of-type img {
        bottom: 30%;
    }

    .image-container:last-of-type img {
        top: 30%;
    }

    .text-container {

        h3 {
            font-size: 3rem;
        }

        p {
            font-size: 1.7rem;
        }
    }

// Harper's Journey
.harpers-journey {
    padding: 60px 0;
}

.her-journey img {
    height: auto;
    @include grow-shrink(calc(50% - 50px));
    margin-right: 0;
}

// Blog
.side-bar-container {
    align-items: center;
    .side-bar, 
    .recent-posts {
        min-width: 90%;
        text-align: center;
    } 
}
}

@media (max-width: 780px) {

// Header
    .header-text img {
        display: none;
    }

    .header-text h1 {
    font-size: calc(7rem - 0.5vw);
    }

    .header-pic img {
        position: static;
    }

// Who Is She
    .main-wrapper .who-is-she {
        text-align: center;
        position: static;
        width: 100%;
        align-items: center;
    }

// Icon Grid
    .mid-list,
    .photo-grid {
        flex-direction: column;
    }

// Pic & Image 
    .image-container img {
        position: static;
    }
    .four-grid {
        padding: 0;
    }

    .text-container:nth-of-type(2),
    .text-container:nth-of-type(3){
        margin: 0;
        padding: 40px 0;
    }

    .text-container:nth-of-type(3) button {
        align-self: flex-start;
    }

    .text-container {
        border-top: 2px solid $text-color;
    }

// Harper's Journey 
.her-journey {
    flex-direction: column;
    align-items: center;


    img {
    width: 50vh;
    }

    .journey-text {
    text-align: center;
    padding: 0;
    margin-top: 50px;

        button {
            align-self: center;
        }
    }

    }
// Blog 
    .side-bar-container .side-bar,
    .side-bar-container .recent-posts {
    min-width: 100%;
    }
}

@media (max-width: 480px) {
// Header
    .header-center {
        flex-direction: column-reverse;
        align-items: center;
        
        .header-pic {
            margin-right: 0;
            img {
                box-shadow: none;
            }
        }
    }

    .header-text {
        order: -1;
    }

    // Icon Grid
    .icon-circle-container {
        justify-content: center;
    }

    .four-square p {
        text-align: center;
        margin-left: 0;
    }

// Text & Pic
.text-container {
    text-align: center;

    &:nth-of-type(2) button,
    &:nth-of-type(3) button {
        align-self: center;
    }
}


// Harper's Journey
    .her-journey h2 {
        font-size: 3.5rem;
    }
    
// Gallery 
    .three-pic:last-of-type {
        display: none;
    }
    
    .gallery {
        padding: 0;
        .photo-wrapper {
            width: 100%;
        }
        .three-pic {
            margin: 0;
            width: 50%;
        }
    }
}

// 2:12am: not the most dry code, would like feedback from project 1 + still getting comfortable with the compiler! Any feedback is appreciated!


