@import 'setup';
@import 'variables';
@import 'navigation';
@import 'home';
@import 'form';
@import 'blog';
@import 'contact';

// Stripping and Defaults
a,
li,
ul,
p,
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
    border: none;
}

ul,
li,
a {
    list-style: none;
    text-decoration: none;
}

// Settings
html {
    font-size: 62.5%;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

body{
    font-family: $body-font;
    font-size: 1.8rem;
    line-height: 32px;
    background-color: $white;
    color: $text-color;
    text-align: left;
}

// Main Page
.wrapper,
.photo-wrapper,
.main-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    width: 80%;
}


h1,
h2,
h3,
h4,
nav p,
nav a,
button a {
    font-family: $header-font;
}

h1 {
    @include font-settings(80);
    line-height: 92px;
}


.header-text h1 {
    @include font-settings(110);
}


h2,
nav p {
    @include font-settings(42);
}

h3,
.fas {
    @include font-settings(32);
}

h4{
    @include font-settings(24);
}

button {
    background-color: $accent-color;
    border: 1px solid $accent-color;
    border-radius: 1px;
    padding: 10px 30px;
    max-width: 300px;

    a {
        color: $text-color;
        @include font-settings (20);
        line-height: 32px;
    } 
}

button:hover {
    transform: scale(1.1);
}

.fab,
.fas {
    font-size: 2.5rem;
}



// Footer
.bottom {
    background-color: $text-color;
    color: $white;
    text-align: center;
}


// Media Queries
@include desktop {

// Header

    .header-text h1{
        font-size: 9rem;
    }


// Who Is She 
    .main-wrapper .who-is-she {
        margin-left: 0;
    }

// Pic & Image Grid
    .four-grid {
        padding: 50px;
    }

    .image-container:first-of-type img {
        bottom: 30%;
    }

    .image-container:last-of-type img {
        top: 30%;
    }

    .text-container {

        h3 {
            font-size: 3rem;
        }

        p {
            font-size: 1.7rem;
        }
    }

// Harper's Journey
.harpers-journey {
    padding: 60px 0;
}

.her-journey img {
    height: auto;
    @include grow-shrink(calc(50% - 50px));
    margin-right: 0;
}

// Blog
.side-bar-container {
    align-items: center;
    .side-bar, 
    .recent-posts {
        min-width: 90%;
        text-align: center;
    } 
}
}

@include mobile-tablet {

// Header
    .header-text img {
        display: none;
    }

    .header-text h1 {
    font-size: calc(7rem - 0.5vw);
    }

  

// Who Is She
    .main-wrapper .who-is-she {
        text-align: center;
        position: static;
        width: 100%;
        align-items: center;
    }

// Icon Grid
    .mid-list,
    .photo-grid {
        flex-direction: column;
    }

// Pic & Image 
    .image-container img {
        position: static;
    }
    .four-grid {
        padding: 0;
    }

    .text-container:nth-of-type(2),
    .text-container:nth-of-type(3){
        margin: 0;
        padding: 40px 0;
    }

    .text-container:nth-of-type(3) button {
        align-self: flex-start;
    }

    .text-container {
        border-top: 2px solid $text-color;
    }

// Harper's Journey 
.her-journey {
    flex-direction: column;
    align-items: center;


    img {
    width: 50vh;
    }

    .journey-text {
    text-align: center;
    padding: 0;
    margin-top: 50px;

        button {
            align-self: center;
        }
    }

    }
// Blog 
    .side-bar-container .side-bar,
    .side-bar-container .recent-posts {
    min-width: 100%;
    }
}

@include mobile {
// Header
    .header-center {
        flex-direction: column-reverse;
        align-items: center;
        
        .header-pic {
            margin-right: 0;
            img {
                box-shadow: none;
            }
        }
    }

    .header-text {
        order: -1;
    }

    // Icon Grid
    .icon-circle-container {
        justify-content: center;
    }

    .four-square p {
        text-align: center;
        margin-left: 0;
    }

// Text & Pic
.text-container {
    text-align: center;

    &:nth-of-type(2) button,
    &:nth-of-type(3) button {
        align-self: center;
    }
}


// Harper's Journey
    .her-journey h2 {
        font-size: 3.5rem;
    }
    
// Gallery 
    .three-pic:last-of-type {
        display: none;
    }
    
    .gallery {
        padding: 0;
        .photo-wrapper {
            width: 100%;
        }
        .three-pic {
            margin: 0;
            width: 50%;
        }
    }
}




