article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

header {
  background-color: #B9DDE7;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li {
  margin: 30px 20px;
}

nav ul li a {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 29px;
  color: #171717;
  text-align: center;
}

nav li:nth-of-type(3) {
  margin: 30px 50px;
}

nav li:nth-of-type(6) {
  position: relative;
}

nav a:hover,
nav p:hover {
  color: #F6F6F6;
}

.sub-menu {
  display: none;
  background: #68B0C1;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
}

@media (max-width: 780px) {
  nav ul {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  nav ul li a,
  nav ul li p {
    display: none;
  }
  .nav-menu li .fa-bars {
    display: block;
    margin-right: 100px;
  }
  li .fa-bars:hover {
    color: white;
  }
  .nav-menu li:nth-of-type(6):hover ul.sub-menu {
    display: block;
  }
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
}

input,
textarea {
  background-color: white;
  border: 1px solid white;
  border-radius: 1px;
  padding: 15px;
  margin: 10px 0;
}

::-webkit-input-placeholder {
  color: black;
  font-size: 1.5rem;
}

:-ms-input-placeholder {
  color: black;
  font-size: 1.5rem;
}

::-ms-input-placeholder {
  color: black;
  font-size: 1.5rem;
}

::placeholder {
  color: black;
  font-size: 1.5rem;
}

.personal-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

input {
  height: 70px;
  width: calc(50% - 10px);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

input:first-of-type {
  margin-right: 10px;
}

form button {
  min-width: 100%;
}

form button:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  background-color: #171717;
  color: #F6F6F6;
  border: 1px solid #171717;
}

@media (max-width: 1050px) {
  .personal-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .personal-info input {
    width: 100%;
  }
}

@media (max-width: 780px) {
  .contact-main .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  form,
  .side-bar-container .side-bar,
  .recent-posts {
    min-width: 100%;
  }
  .side-bar,
  .recent-posts {
    text-align: center;
  }
  .icon-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .icon-container i:hover {
    color: black;
  }
}

@media (max-width: 480px) {
  .contact-main .side-bar {
    margin-top: 60px;
  }
}

.blog-background {
  background-image: url(../harper-assets/blog-image-1.jpg);
  height: 40vh;
  background-position: center;
  background-repeat: none;
  background-size: cover;
}

.blog-main {
  margin-top: 80px;
}

.flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrapper .sidebar-container {
  margin-top: 0;
}

.side-bar img {
  margin-bottom: 20px;
}

.recent-posts {
  margin-top: 10px;
}

span {
  margin-right: 10px;
}

.right-container {
  margin-top: 40px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 60%;
          flex: 1 0 60%;
}

.blog-post,
.single-post:last-child {
  border-bottom: 5px solid #227284;
}

.blog-post p {
  margin: 15px 0;
  line-height: 30px;
}

.blog-post,
.single-post {
  padding: 25px;
  background-color: white;
}

.single-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
}

.single-post .single-post-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(80% - 20px);
          flex: 1 0 calc(80% - 20px);
  margin-left: 20px;
}

.single-post .single-post-textp:first-child {
  font-weight: bold;
}

.single-post img {
  width: 100px;
  height: 100px;
}

.blog-wrapper form {
  width: auto;
  height: auto;
}

@media (max-width: 1050px) {
  .side-bar-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .side-bar,
  .recent-posts {
    min-width: 100%;
  }
  .flex-wrapper,
  .side-bar-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog-wrapper form {
    max-width: 90%;
    margin: 20px auto;
  }
}

@media (max-width: 780px) {
  .recent-posts span {
    display: none;
  }
  .side-bar-container .side-bar,
  .side-bar-container .recent-posts {
    min-width: 100%;
  }
  .sticky {
    text-align: center;
    top: 255px;
  }
}

@media (max-width: 480px) {
  .single-post {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .single-post .single-post-text {
    margin-left: 0;
  }
  h4 {
    font-size: 2rem;
  }
}

.side-bar,
.recent-posts {
  background-color: white;
  max-width: 300px;
  padding: 20px;
  width: 90%;
}

.fab {
  color: #227284;
}

.address p {
  font-size: 1.9rem;
}

.address p:first-child {
  font-weight: 500;
  font-family: "Oswald";
  font-size: 2.4rem;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.contact-main .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}

.contact-main .wrapper:nth-of-type(2) {
  margin-top: 60px;
}

.contact-background {
  background-image: url(../harper-assets/contact-image-1.jpg);
  height: 40vh;
  background-position: center;
  background-repeat: none;
  background-size: cover;
}

.icon-container,
.icon-circle-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.icon-container li,
.icon-circle-container li {
  margin: 0 10px;
}

.icon-container :first-child,
.icon-circle-container :first-child {
  margin-left: 0;
}

form {
  margin: 30px 0;
}

.side-bar-container {
  margin-top: 40px;
  min-width: 35%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 35%;
          flex: 1 0 35%;
}

.sticky {
  position: relative;
  top: 190px;
}

a,
li,
ul,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

img {
  display: block;
  width: 100%;
}

body {
  font-family: "Cabin";
  font-size: 1.8rem;
  line-height: 32px;
  background-color: #F6F6F6;
  color: #171717;
  text-align: left;
}

.wrapper,
.photo-wrapper,
.main-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  width: 80%;
}

h1,
h2,
h3,
h4,
nav p,
nav a,
button a {
  font-family: "Oswald";
}

h1 {
  font-size: 8rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 92px;
}

.header-text h1 {
  font-size: 11rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h2,
nav p {
  font-size: 4.2rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h3,
.fas {
  font-size: 3.2rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h4 {
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

button {
  background-color: #F38D8D;
  border: 1px solid #F38D8D;
  border-radius: 1px;
  padding: 10px 30px;
  max-width: 300px;
}

button a {
  color: #171717;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 32px;
}

button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.fab,
.fas {
  font-size: 2.5rem;
}

li .fa-bars {
  display: none;
}

.header-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-pic {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(50% - 60px);
          flex: 1 0 calc(50% - 60px);
  margin-right: 60px;
}

.header-pic img {
  -webkit-box-shadow: 15px 15px 0px 0px white;
          box-shadow: 15px 15px 0px 0px white;
  position: relative;
  top: 70px;
}

.header-text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header-text img {
  position: absolute;
  width: auto;
  top: 63%;
  right: 6%;
}

.main-wrapper .who-is-she {
  padding: 60px 0;
  margin: 80px 0;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  position: relative;
  left: 52%;
  margin-left: 50px;
}

.main-wrapper .who-is-she p {
  margin: 30px 0;
}

.four-square p {
  margin-left: 60px;
}

.mid-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 40px 0;
}

.mid-list li {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(50% - 20px);
          flex: 1 0 calc(50% - 20px);
  margin: 50px 0;
}

.icon-circle-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-circle-container .icon-circle {
  height: 50px;
  width: 50px;
  background-color: #B9DDE7;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  margin-right: 15px;
}

.photo-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.four-grid,
.gallery {
  background-color: white;
}

.image-container,
.text-container {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}

.text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-container h3,
.text-container p {
  margin-bottom: 15px;
}

.text-container:nth-of-type(2) {
  padding-right: 0;
  padding-left: 50px;
}

.text-container:nth-of-type(2) button {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.text-container:nth-of-type(3) {
  padding-right: 50px;
  padding-left: 0;
}

.text-container:nth-of-type(3) button {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.image-container:first-of-type img {
  -webkit-box-shadow: 15px 15px 0px 0px #68B0C1, -150px 15px 0px 0px #68B0C1;
          box-shadow: 15px 15px 0px 0px #68B0C1, -150px 15px 0px 0px #68B0C1;
  position: relative;
  bottom: 10%;
}

.image-container:last-of-type img {
  -webkit-box-shadow: 120px 15px 0 #B9DDE7;
          box-shadow: 120px 15px 0 #B9DDE7;
  position: relative;
  top: 10%;
}

.harpers-journey {
  padding: 90px 0;
}

.her-journey {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 70px 0;
}

.her-journey img {
  margin-right: 45px;
  -webkit-box-shadow: 15px 15px 0px 0px #227284;
          box-shadow: 15px 15px 0px 0px #227284;
}

.her-journey .journey-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(70% - 45px);
          flex: 1 0 calc(70% - 45px);
  padding-left: 50px;
}

.her-journey .journey-text h2,
.her-journey .journey-text p {
  margin-bottom: 30px;
}

.her-journey .journey-text button {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.bottom-three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.gallery {
  padding: 60px 0;
}

.three-pic {
  margin: 30px 10px;
  width: calc(33% - 30px);
  -webkit-box-flex: 1;
      -ms-flex: 1 0 33%;
          flex: 1 0 33%;
}

.bottom {
  background-color: #171717;
  color: #F6F6F6;
  text-align: center;
}

@media (max-width: 1050px) {
  .header-text h1 {
    font-size: 9rem;
  }
  .header-text img {
    top: 53%;
    right: 5%;
    width: 15%;
  }
  .main-wrapper .who-is-she {
    margin-left: 0;
  }
  .four-grid {
    padding: 50px;
  }
  .image-container:first-of-type img {
    bottom: 30%;
  }
  .image-container:last-of-type img {
    top: 30%;
  }
  .text-container h3 {
    font-size: 3rem;
  }
  .text-container p {
    font-size: 1.7rem;
  }
  .harpers-journey {
    padding: 60px 0;
  }
  .her-journey img {
    height: auto;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 calc(50% - 50px);
            flex: 1 0 calc(50% - 50px);
    margin-right: 0;
  }
  .side-bar-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .side-bar-container .side-bar,
  .side-bar-container .recent-posts {
    min-width: 90%;
    text-align: center;
  }
}

@media (max-width: 780px) {
  .header-text img {
    display: none;
  }
  .header-text h1 {
    font-size: calc(7rem - 0.5vw);
  }
  .header-pic img {
    position: static;
  }
  .main-wrapper .who-is-she {
    text-align: center;
    position: static;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mid-list,
  .photo-grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .image-container img {
    position: static;
  }
  .four-grid {
    padding: 0;
  }
  .text-container:nth-of-type(2),
  .text-container:nth-of-type(3) {
    margin: 0;
    padding: 40px 0;
  }
  .text-container:nth-of-type(3) button {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .text-container {
    border-top: 2px solid #171717;
  }
  .her-journey {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .her-journey img {
    width: 50vh;
  }
  .her-journey .journey-text {
    text-align: center;
    padding: 0;
    margin-top: 50px;
  }
  .her-journey .journey-text button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .side-bar-container .side-bar,
  .side-bar-container .recent-posts {
    min-width: 100%;
  }
}

@media (max-width: 480px) {
  .header-center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-center .header-pic {
    margin-right: 0;
  }
  .header-center .header-pic img {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .header-text {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .icon-circle-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .four-square p {
    text-align: center;
    margin-left: 0;
  }
  .text-container {
    text-align: center;
  }
  .text-container:nth-of-type(2) button,
  .text-container:nth-of-type(3) button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .her-journey h2 {
    font-size: 3.5rem;
  }
  .three-pic:last-of-type {
    display: none;
  }
  .gallery {
    padding: 0;
  }
  .gallery .photo-wrapper {
    width: 100%;
  }
  .gallery .three-pic {
    margin: 0;
    width: 50%;
  }
}
